$height : 40px;

@mixin rounded() {
    height: $height;
    box-sizing: border-box;
    padding: 4px 1.2rem;
    border-radius: calc($height / 2);
    border: none;
}

.searchcontainer {
    display: flex;
    // border: 2px solid red;
    border-bottom:  1px solid #e7e7e7;
    padding: 10px 0 ;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    input{
        flex-grow: 1;
        max-width: 50%;
       @include rounded();
    }
    button {
        @include rounded();
        cursor: pointer;
        background-color: blue;
        color: #fff;
        font-weight: 600;
    }
    input:focus {
        outline: none;
    }
}